body{
     width: 100%;
    background: url("shooting/maxresdefault.jpg") fixed no-repeat;
    background-size: cover;
    font-style: normal;
    font-size: large;
    color: azure;  
    display: block;
}
header{
     font-weight: 800;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: 800px;
}
#logo{
    height: 120px;   
    float: left;
}
#theme{
    font-size: 70px;
    color:darkkhaki;
    margin: 0px;
    margin-top: 10px;
    
}
nav{
     background-color: darkgrey;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    color: black;
    margin-top: 50px;
}
nav a{
    color: black;
}
section{
    text-align: center;
}
canvas{
    background-color: white;
}
table td, th, tr{
	border:white;
	border-right: 2px;
	border-top: 2px;
	border-style: solid;
}
@media screen and (max-width:1000px)
{
    body{
        width: 800px;
    }
    .theme {
        font-size: 110pt;
    }
}
@media screen and (max-width:800px)
{
    body{
        width: 600px;
    }
    .theme {
        font-size: 80pt;
    }
}
@media screen and (max-device-width:1000px)
{
    body{
        width: 800px;
    }
    .theme {
        font-size: 110pt;
    }
}
@media screen and (max-device-width:800px)
{
    body{
        width: 600px;
    }
    .theme {
        font-size: 80pt;
    }
}
@media screen and (max-device-width:500px)
{
    body{
        width: 300px;
    }
    .theme {
        font-size: 32pt;
    }
    h1 {
        font-size: 10pt;
    }
    h2 {
        font-size: 16pt;
    }
    h3{
        font-size: 14pt;
    }
    p {
        font-size: 12pt;
    }
}
